.app {
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .app {
    position: relative;
    max-width: 22rem;
    width: 100%;
  }

  #lp_section {
    width: 100%;
    max-width: 22rem;
  }
}

body {
  background-color: #000000;
  font-family: "Ubuntu";
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  text-align: center;
  width: 6.8rem;
  color: #ffffff;
  background-color: #666666;
  border-radius: 0.5rem;
  min-height: 1.6rem;
  border: 0.15rem solid #6d3e69;
  outline: none;
}

.ng_row {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.number_generators {
  display: inline-block;
  position: relative;
}

.buttongroup {
  margin-top: 0.5rem;
}

.ng_row_x {
  display: flex;
  justify-content: left;
}

.ng_labels_x {
  display: flex;
  justify-content: right;
  position: relative;
  line-height: 35px;
}

.ng_labels {
  display: inline-block;
  position: relative;
  line-height: 35px;
}

.number_generator_button {
  margin: 0.3rem auto;
  position: relative;
  display: flex;
  justify-content: left;
}

.ngx_input {
  margin-top: 0.1rem;
  margin-left: 0.3rem;
  display: inline-block;
  position: relative;
  height: auto;
}

#ngx_input {
  position: relative;
  width: 3.3rem;
  margin-top: 0.2rem;
}

#one_six_label {
  display: flex;
  justify-content: right;
}

#zero_one_label {
  display: flex;
  justify-content: right;
}

#one_x_label {
  display: flex;
  justify-content: right;
  width: auto;
}

#number_generators {
  top: 0%;
  height: auto;
  position: relative;
  background-color: #666666;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  width: auto;
  min-width: 18rem;
}

#lp_section {
  width: 100%;
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  column-gap: 0.25rem;
}

#op {
  height: auto;
  background-color: #666666;
  padding: 0.26rem;
  min-width: 8.5rem;
}

#pl {
  height: auto;
  background-color: #666666;
  padding: 0.26rem;
  min-width: 8.5rem;
}

#resetOrLoadGame {
  top: 0%;
  height: auto;
  position: relative;
  background-color: #666666;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: auto;
  min-width: 18rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.resetOrLoadbutton {
  top: 0%;
  position: relative;
  vertical-align: top;
  width: auto;
  min-width: 18rem;
  max-width: 19rem;
  padding: 0;
}

#gameSelection {
  margin-top: 0.1rem;
}

#reset_button {
  max-width: 8rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  float: left;
}

#load_button {
  max-width: 8rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  float: right;
}

#loadItems {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: auto;
}

.buttongroup {
  width: auto;
  height: auto;
  display: block;
}

.loadButton {
  max-width: 5rem;
  float: left;
}

.loadButtonLabel {
  margin-top: 0.5rem;
  float: right;
}

.pl_lp_section {
  background-color: #666666;
  position: relative;
  top: 0%;
  width: auto;
}

.op_lp_section {
  background-color: #666666;
  position: relative;
  top: 0%;
  width: auto;
}

#pl_lp {
  font-size: 1.4rem;
  width: auto;
}

#op_lp {
  font-size: 1.4rem;
  width: auto;
}

#pl_lp_history {
  text-align: right;
  padding: 0.25rem;
  margin: 0.25rem;
}

#op_lp_history {
  text-align: right;
  padding: 0.25rem;
  margin: 0.25rem;
}

.lp_updown {
  background-color: #666666;
  text-align: center;
  position: relative;
  padding: 0.25rem;
  width: auto;
}

.pl_history {
  background-color: #666666;
  text-align: right;
  position: relative;
  width: auto;
}

.op_history {
  background-color: #666666;
  text-align: right;
  position: relative;
  width: auto;
}

label {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.1rem;
  white-space: pre-wrap;
}

.name_labels {
  font-size: 0.9rem;
}

.lp_change_button {
  min-width: 2.5rem;
  max-width: 3rem;
  min-height: 2.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

button {
  border-radius: 0.5rem;
  border: 0.15rem solid #6d3e69;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 0.3rem 0.45rem 0.3rem 0.45rem;
  background: #8a3e72;
  width: 10rem;
  min-width: 2rem;
  margin-bottom: 0.25rem;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  min-height: 2rem;
  position: relative;
}

button:hover {
  background-color: #581f5f;
}
